.home{
    height: auto;
    min-height: 100vh;
    background-color: black;
    color: white;
    width: 100%;
    cursor: pointer;

}
.home-search{
    margin-top: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.home-search input{
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid #666;
    padding: 5px;
    margin: 20px;
    width: 400px;
    font-size: 18px;
    color: #965977b6;
}
.home-search button{
    font-size: 18px;
    border: 1px solid gray;
    padding: 5px;
    color: white;
    background-color: #8c928f;
    margin-left: 10px;
    border-radius: 7px;
    outline: none;
}
.home-meals-grid{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.img{
    width: 250px;
    transition: all 0.4s ease;
    border-radius: 5px;

}

.home-meals {
    text-align: center;
    margin: 15px;
    background-color: #444343;
    box-shadow: 0.5px 0.5px 5px grey;
    border-radius: 5px;
}
.home-meals:hover{
    transform: scale(1.05);
}

.home-meals h4{
    margin: 10px;
}