.poster a {
    text-decoration: none;
    color: aliceblue;
}
.poster-img{
    height: 600px;
}
.poster-img > img {
    margin: auto;
    display: block;
    width: 100%;
}
.details{
    position: absolute;
    bottom: 30px;
    margin: 20px;
  
}

.details .title {
    font-size: 50px;
    font-weight: 800;
    display: flex;
    text-align: left;
    margin: 5px;
    /* width: 600px; */
}
.details .desc {
    font-style: italic;
    font-size: 1rem;
    margin: .25rem;
    display: flex;
    text-align: left;
    width: 50%;
}
.details .date{
    width: 50%;
    display: flex;
    gap: 30px;
    margin: 5px;
}
body{
    background-color: black;
    min-height: 70vh;
    color: white;
}
    
