.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    height: 10vh;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}
.footer p{
    font-size: 18px;
}
footer span{
    color: #f3b542;
}