*{
    scroll-behavior: smooth;
    margin: 0;
}
.App{
    width: 100%;
    min-height: 75vh;
    background-color: #2e302e;
    color: aliceblue;
     padding-top: 20px; 
    padding-bottom: 40px;
}
.pageTitle{
    /* padding: 10px 20px; */
    margin-bottom: 4vh;
    display: flex;
    text-transform: uppercase;
    justify-content:center;
    font-size: 4vh;
    
}
@media (max-width:700px) {
    .App{
        padding-top: 10px ;
        padding-bottom: 40px;
    }
}
@media (max-width:700px) {
    .pageTitle{
    font-size: 3vh;
    margin-bottom: 25px;
}
}