body{
    width: 100%;
    height: 100vh;
    background: #03dfff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background: linear-gradient(140deg, #03ddffcb 0%,#fc68b2b6 110%);
    width: 50vw;
    min-height: 70vh;
    background-size: contain;
    border: none;
    box-shadow: 0px 0px 5px grey;
}
h1{
    background-image: linear-gradient(rgb(149, 149, 233),rgb(247, 87, 87));
    color: rgb(74, 91, 92);
    font-size: 2.5vw;
    text-align: center;
}
input{
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #666;
    padding: 5px;
    margin: 20px;
    width: 28vw;
    font-size: 17px;
    color: #965977b6;
}
.addBtn{
    padding: 5px 10px;
    background-color: rgb(98, 149, 161);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 2px grey;
    color: rgb(184, 230, 199);
}
.addBtn:hover{
    background-color: rgb(147, 247, 147);
    color: #666;
}

.list{
    display: flex;
    margin: 10px 20px;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
}
.list li{
    font-size: 20px;
    outline-color: rgb(84, 203, 221);
    padding: 5px;
}
.dlt{
    border: none;
    background: none;
    background-image: linear-gradient(160deg,rgb(248, 177, 22),rgb(199, 148, 9));
    padding: 5px;
    border-radius: 5px;
}
.dlt:hover{
    background-color: red;
}
.remove{
    border: none;
    background: none;
    background-image: linear-gradient(rgb(173, 72, 72),rgb(153, 153, 230)60%);
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
}